body {
  font-family: "PT Mono", monospace;
}

.weather-app {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #70757a;
  border-radius: 10px;
  background-color: #132743;
}

h1 {
  font-family: "PT Mono", monospace;
  text-align: center;
  padding: 10px;
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #fffefe;
}

ul {
  font-family: "PT Mono", monospace;
  list-style: none;
  color: #fffefe;
  display: inline-block;
}
li {
  font-family: "PT Mono", monospace;
  list-style: none;
  color: #fffefe;
  display: inline-block;
  padding: 0px;
}

.weather-cloudy {
  color: #fffefe;
  font-size: 20px;
}
.weather-cloudy img {
  margin-right: 20px;
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}
.weather-cloudy strong {
  display: inline-block;
  font-size: 48px;
  line-height: 1;
  vertical-align: top;
}
.weather-cloudy small {
  position: relative;
  display: inline;
  text-decoration: none;
  margin-left: -1px;
}

.col-9 {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}
.col {
  color: #fffefe;
  text-align: left;
  font-family: "PT Mono", monospace;
}

p {
  color: #fffefe;
  font-family: "PT Mono", monospace;
  padding: 6px;
}

.weather-cloudy .active {
  color: #fffefe;
  cursor: default;
  text-decoration: none;
}

.weather-cloudy .active :hover {
  text-decoration: none;
}
footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: black;
  text-align: center;
  margin: -30px auto;
  padding: 4;
}
